ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 8px 10px;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
.center{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    position: center;
}
list{
    display: block;
    margin-left: 30%;
    height: 600px;
    width: 600px;
    border: 3px solid black;
    overflow-y: auto;
    overflow-x: hidden;
}
.red{
    position: relative;
    left: 50px;
    height: 15px;
    width: 15px;
    display: inline-block;
    background-color:red;
}
.yellow{
    position: relative;
    left: 50px;
    height: 15px;
    width: 15px;
    display: inline-block;
    background-color:yellow;
}
.green{
    position: relative;
    left: 50px;
    height: 15px;
    width: 15px;
    display: inline-block;
    background-color:green;
}
.delete{
    height: 20px;
    width: 20px;
    display: inline-block;
    position: relative;
    left: 250px;
    background-image: url("res/delete.png");
}

.string {
    position: relative;
    left: 100px;
    text-align: center;
}
.reset {
    height: 20px;
    width: 20px;
    display: inline-block;
    position: relative;
    left: 200px;
    background-image: url("res/reset.png");
}

input {
    height: auto;
    width: 400px;
    position: center;
}