<table class="center">
    <tr ng-repeat="str in $ctrl.strings track by $index">
        <td>
            <div ng-class="str.color" title="{{ str.color | translate }}"></div>
        </td>
        <td class="string">{{ str.strlabel }}</td>
        <td>
            <div class="reset" ng-click="$ctrl.resetTimer($index)" title="{{'reset' | translate}}"></div>
        </td>
        <td>
            <div class="delete" ng-click="$ctrl.deleteString($index)" title="{{'remove' | translate}}"></div>
        </td>
    </tr>
</table>
