<setting-component current-language="$ctrl.currentLanguage" languages="$ctrl.languages"
                   welcome="$ctrl.welcome"
                   ng-if="$ctrl.settingDisplay" on-change="$ctrl.onChange(lang,welcome)"
                   on-close="$ctrl.close()"></setting-component>
<ul>
    <li>
        <button class="setting" ng-click="$ctrl.display()"></button>
    </li>
</ul>
<div class="center">
    <div class="hello" ng-if="$ctrl.welcome">
        <div class="welcome">{{"hello" | translate }}, {{$ctrl.welcome}}!</div>
    </div>
</div>
